@import '../colors';
@import '../medias';

.portfolio {
  background: $c2;
  background-size: cover;
  padding: 4.8rem 2rem 12.8rem;
}

.portfolio > div {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
}

.cards_container {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: flex-start;
  padding: 12.8rem 0 0 0;
}

@include medias(1024px) {
  .cards_container {
    flex-direction: column;
    align-items: center;
  }
}

@include medias(768px) {
  .portfolio {
    padding: 4.8rem 2rem 3.6rem;
  }
}

@include medias(560px) {
  .cards_container {
    padding: 4.8rem 0 0 0;
  }
}
