// Brand color
$e-brand: #1843b1;
$e-darkest: #001343;
$e-dark: #012277;
$e-light: #3465e2;
$e-lightest: #7399fb;

// Brand secondary
$s-brand: #6e18b1;
$s-darkest: #320059;
$s-dark: #52098b;
$s-light: #9733e4;
$s-lightest: #c070fe;

// neutrals

$c1: #050505;
$c2: #131313;
$c3: #292929;
$c4: #3d3d3d;
$c5: #525252;
$c6: #666666;
$c7: #7a7a7a;
$c8: #8f8f8f;
$c9: #a3a3a3;
$c10: #b8b8b8;
$c11: #cccccc;
$c12: #e0e0e0;
$c13: #f5f5f5;
$c14: #fafafa;
